<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <span>All people:</span>
    <p th:if="${people.empty}">
        <span>No people in here</span>
    </p>
    <p th:each="person : ${people}">
        <a th:href="@{/people/{id}(id=${person.id})}" th:text="${person.name}">user</a>
    </p>

    <hr/>

    <form method="get" action="/people/new">
        <input type="submit" value="Create new account">
    </form>

</body>
</html>